* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    overflow: hidden;
}

.todo-list {
    height: 100vh;
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0, 0.8);
    --delete-color: rgb(255, 0, 0, 0.6);
    --complete-color: rgb(0, 128, 0, 0.6);
    background-color: var(--bg-color);
}

.todo-list-dark {
    height: 100vh;
    --bg-color: rgb(25, 25, 25);
    --text-color: white;
    --delete-color: rgb(255, 60, 60);
    --complete-color: rgb(80, 255, 80);
    background-color: var(--bg-color);
}

.todo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    height: 90vh;
    color: var(--text-color);
}

.add-todo, .todos-container {
    padding: 2vh;
    border: 0.3vh solid var(--text-color);
    border-radius: 2vh;
}

.add-todo input {
    text-align: center;
    border: none;
    background-color: var(--bg-color);
    border-bottom: 0.2vh solid var(--text-color);
    font-size: 110%;
    width: 30vh;
}

.add-todo input:focus {
    outline: none;
    border-bottom: 0.2vh solid var(--text-color);
    color: var(--text-color);
}

button {
    border: 0.3vh solid var(--text-color);
    border-radius: 1vh;
    padding: 1vh;
    font-weight: 900;
    font-size: 110%;
    background: var(--bg-color);
    color: var(--text-color);
}

button:hover {
    cursor: pointer;
    scale: 1.05;
}

.todos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
    gap: 3vh;
}

.todos-container p {
    margin-left: 2vh;
}

.todos-container span {
    color: var(--text-color);
    opacity: 0.5;
}

.todo {
    border-bottom: 0.2vh solid var(--text-color);
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    font-weight: 700;
    width: 70vh;
}

.todo p {
    align-self: flex-end;
}

.todo-actions {
    display: flex;
    gap: 2vh;
    font-size: 150%;
    margin-right: 2vh;
}

.fa-solid {
    padding: 0.5vh;
}

.fa-xmark:hover {
    color: var(--delete-color);
    scale: 1.2;
    cursor: pointer;
}

.fa-check:hover {
    color: var(--complete-color);
    scale: 1.2;
    cursor: pointer;
}

.complete {

    color: var(--complete-color);
}

.footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
}

.footer a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(250, 100, 200);
}

.footer i {
    color: rgb(250, 100, 200);
}

.dark-mode {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 2vh;
    background: none;
}

.dark-mode button {
    display: flex;
    font-size: 120%;
    text-align: center;
}
